html, body {
    margin: 0px;
    background: #eee;
    font-family: sans-serif;
}

div.container {
    margin-bottom: 200px;
}

h1 {
    margin-bottom: 50px;
    width: 800px;
    margin: auto;
    padding-top: 50px;
}
p {
    line-height: 1.3;
    width: 800px;
    margin: auto;
    padding-top: 50px;
}

svg {
    margin: auto;
    padding-top: 50px;
}

g.axis-x > g.tick > text {
    transform: translate(17px, 22px) rotateZ(60deg);
}
    
rect {
    fill: darkolivegreen;
}

div.annotation {
    height: 100vh;
    width: 100vw;
    background: transparent;
    left: 0px;
    display: flex;
    align-items: center;
}

div.annotation > div.box {
    position: absolute;
    width: 30vw;
    margin-left: 10vw;
    background: white;
    box-shadow: -2px 2px 4px #666;
    padding: 15px;
}

div.box > div.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
div.box > div.text {
    font-size: 14px;
    line-height: 1.3;
}